
@media (max-width:320px) {
    .under_the_box h1 {
        font-size:16px !important;
    }
}
@media (max-width:414px)
{

    .graybox {
        
        width:100% !important;
        padding:0 !important;
        margin:0 !important;
        height:10rem !important;
    }
    .posts-image {
    }
    .under_the_box h1 {
        display:inline-block;

    }
    .under_the_box * {
        margin-left:40px;
        margin-right:40px;
    }
    .menumid {
        display:none;
    }
    .posts-page {
    }
    .wrapper {
        margin-left:0% !important;
    }
    .webdi *{
        line-height:25px;
        text-align:center !important;
    }
    .webdi {
        margin-top:-15%;
    }
    .webdi h1 {
        font-size:16px !important;
        text-align:center !important;
        display:block;
        
        
    }
    .webdi h2{
        font-size:16px;
    }
    .webdi h3 {
        
    }
    .webdi {
        width:100%;
    }
    .w-100 {
        width:100%;
    }
    .next-web-design {
        float:none;
        margin:auto !Important;
        text-align:center;
        width:100%;
    }
    .next-web-design img {
        width:75%;
        
    }
    .next-web-design h1 {
        margin-bottom:-5%;
    }
    .next-web-design h3 {
        font-size:18px;
        
        line-height:2em;
        white-space:nowrap;
        text-align:center;
        margin:auto;
    }
    
}
@media (max-width:1366px) {
    .wrapper {

    }
    .graybox {
        height:60%;
    }
    .under_the_box h1{
        font-size: 30px;
    }
    .posts-page {
        height: 80vh !important;
    }
}
@media (max-width:960px) {
    .graybox {
        height:20%;
    }
    .under_the_box h1{
        line-height: 55px;
        font-size:25px;
    }
}
@media (max-width:732) {
    .graybox {
        height:20%;
    }
}
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 732px) 
and (orientation: landscape) {
    
    .graybox {
        height:10%;
    }
    .under_the_box h1 {
        display:inline-block;
        margin-left:100px;
        margin-right:100px;
    }
    
    .wrapper {
        margin-top:50vh;
        position:relative;
        width:90%;
        margin-left:auto;
        margin-right:auto;
    }
    .webdi h1 {
        font-size:16px;
        margin-bottom:-15px !important;
    }
    .webdi h2 {
        font-size:30px
    }
}
@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 732px) 
and (orientation: portrait) {
    .posts-page {
        height:80vh !important;
    }
}
@media (max-width:1920px)
    and (min-width:1367px)
     {
        .posts-page {
            height:80vh !important;
        }
}
