/*
html {
   width:360px;
    height:640px;
    margin:auto;
    overflow:scroll;
    font-size: 16px !important;
}
*/
@media (max-width:360px) {
footer {
    display:none;
}
p {
    font-size: 16px;
/*    text-align:center*/
}
h1 {
    font-size: 23px !important;
    white-space:normal !important;
    line-height:2rem;
}
.main-nav-list {
    display:none;
}
    .products img {
       width:7.8rem;
        
/*        display:inline-block;*/
    }
.products {
/*    position:relative;*/
    
}
}