
.productsTitle {
	color: #1C1E2C;
    margin-top:100px;
	
    font-size:40px !Important;
	position: relative;
    margin-bottom:-20px !important;
    text-align:center;
	font-family: 'airfare'
}
.products_summary {
    text-align:center;
    width:65vw;
    margin-top:0 !important;
    margin:auto;
    color:black;
}
.software_image {
    width:70%;
    height:600px;
    display:block;
    margin:auto;
    position:relative;
    padding-top:1%;
}

.imageText {
    width:40%;
    display:block;
    bottom:0;
    position:absolute;
    background:white;
    
}
.imageText h2 {
    font-size:30px;
    margin:0px;
}
.imageText h1 {
    font-size:40px;
    line-height:100%;
    margin-bottom:3%
}
.imageText p {
    color:black;
    
}
.clear {
    width:100%;
}
.sub_items img{
    width:60% !important;
    margin-top:100px !important;
    display:block;
    margin:auto;
}
.sub_items {
    width:70%;
    margin:auto;
}
h6 {
	color: #1C1E2C;
    margin-top:100px;
	text-transform: uppercase;
    font-size:25px !Important;
	position: relative;
    
    text-align:center;
	font-family: 'airfare'
}
h6:after {
	position: absolute;
	width: 40%;
	bottom: 0;
	left: 30%;
	background: #03fc96;
	height: 55%;
	content: '';
	z-index: -1;
/*	margin-left: -5px;*/
	transition: .5s ease-in;
}
h6:hover:after {
	transform: scale(1.2);
/*	background: #9b03fc*/
}
h7 {
    color: #1C1E2C;
    margin-top:10% !important;
    
    width:65%;
    font-size:25px;
    font-family: 'airfare';
    color:black;
    position:relative;
    display:block;
    margin:auto;
}
h7:after {
    position: absolute;
	width: 20%;
	bottom: 0;
	left: -4%;
	background: #03fc96;
	height: 35%;
	content: '';
	z-index: -1;
	transition: .5s ease-in;
}
h7:hover:after {
    transform: scale(1.5);
    transform-origin: left;
}
.invisionHeader {
    text-align:center;
    line-height:40px;
    height:150px;
}
#mainNav {
    
    
    margin-left:-60px; 
/*    margin-top:-4950px; */
    width:200px;
    position:absolute;
    top:400px;
    z-index:100;
}
.mainNavList {
    
/*    top:0px;*/
    font-size:14px !Important;
/*    margin-top: 5450px;*/
    
/*    height:20px;*/
    list-style:none;
    white-space:nowrap;
    line-height: 30px;
}
.mainNavList li:nth-child(9) {
    text-align:center;
    color:black;
    font-family:'airfare';
    text-transform:uppercase;
    padding-top:5%;
    font-weight: bold !important;
}
.mainNavList li:nth-child(9):after {
    position: absolute;
	width: 90%;
	bottom: 5px;
	left: 10%;
	background: #03fc96;
	height: 4%;
	content: '';
	z-index: -1;
	transition: .5s ease-in;
    
}
.underSummary{
    
    margin-top:40px !important;
}
.underSummary {
    text-align:center;
    
/*    padding: 0 25 0 25;*/
    margin-bottom:10% !important;
    margin:auto;
    width:100%;
    white-space:nowrap;
    
}
.underSummary h9 {
   padding: 0 50px 0 50px;
    
    
}
.hContainer {
    position:relative;
}
.hContainer:after {
    position: absolute;
	width: 50%;
	bottom: 0;
	left: 20%;
	background: #03fc96;
	height: 50%;
	content: '';
	z-index: -1;
	transition: .5s ease-in;
}
.hContainer {
    display: inline-block;
    
    
}
.hContainer h9 {
    color:black;
}
.insp {
    margin-bottom:10%
}
.blackBox {
    width:300px;
    height:200px;
    background:black;
    margin:auto;
}
.blackBox h10, .blackBox h11{
    width:100% !important;
    display:block;
    position: relative;
    top:118%;
    font-family: 'airfare';
    color:black;
    text-align:center;
}
h10 {
    font-size:20px;
    text-transform: uppercase;
}
h11 {
    font-size: 30px;
}
.otherBox {
    width:300px;
    height:300px;
/*    position:absolute;*/
    margin:auto;
    background:grey;
    margin:auto;
}
.oBoxContainer {
    width:100%;
    height:200px;
}
.divider {
    width:90%;
    height:100px;
    margin-bottom:10% !important;
    background:gray;
    margin:auto;
}
.nPageContainer {
    width:100% !important;
    height:100px;
}
.nPageContainer h12{
    text-align:center;
    position:relative;
    display:block;
    font-size:20px;
    width:20%;
    color:black;
    margin:auto;
}
.nPageContainer h12:after {
    position: absolute;
	width: 40%;
	bottom: 0;
	left: 30%;
	background: #03fc96;
	height: 55%;
	content: '';
	z-index: -1;
/*	margin-left: -5px;*/
	transition: .5s ease-in;
}
/*
.softwareNavList {
    position:absolute;
    top:300px;
    list-style:none;
    height:1px;
    margin-top:300px;
}

#softwareNav {
    margin-left:-5%;
position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
position:sticky !important;
    
    top:0px !important;
}
*/
