@media (max-width:320px) {
}
@media (max-width:414px) {
}
@media (max-width:1366px) {
}
@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 732px) 
    and (orientation: landscape) {
        
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 732px) 
    and (orientation: portrait) {
        .main-nav-list {
            display:none;
        }
        .sticky-placeholder {
            display:none;
        }
        .products img {
            display:inline-block;
            width:40%;
            
            margin:auto;
        }
        .products_summary {
            font-size: 16px;
            position:relative;
            display:block;
        }
        .products {
            position:relative;
/*            margin-top:10vh;*/
        }
        .logo {
            display: none;
        }
        .products_summary {
            font-size:16px;
        }
        .products-title {
            font-size: 20px !important;
            margin-top:10vh !important;
            margin:auto;
            white-space:normal !important;
            line-height:3vh;
            padding-bottom:3vh;
        }
        .products_content {
            margin-top:70vh;
        }
        .featured {
            width:100% !important;
            
        }
        
        .image-overlay {
            font-size: 13px;
            width:50%
        }
        .image-overlay h1 {
            font-size: 22px;
            padding-bottom:-30px !important;
            line-height:0px
            
        }
        .image-overlay h2 {
            font-size: 22px;
/*            line-height:10px*/
        }
        .w-100 {
            width:100%;
            
        }
        
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 732px) 
    and (orientation: landscape) {
        .main-nav-list {
            display:none;
        }
        .sticky-placeholder {
            display:none;
        }
        .products img {
            display:inline-block;
            width:40%;
            
            margin:auto;
        }
        .products_summary {
            font-size: 16px;
            position:relative;
            display:block;
        }
        .products {
            position:relative;
/*            margin-top:10vh;*/
        }
        .products-title {
            font-size: 20px !important;
            margin:auto;
            white-space:normal !important;
/*            line-height:4vh;*/
            padding-bottom:3vh;
        }
        .products_content {
            margin-top:100vh;
        }
        .featured {
            width:100% !important;
            height:100vh !important;
        }
        .image-overlay {
            font-size: 13px;
            width:50%
        }
        .image-overlay h1 {
            font-size: 22px;
            padding-bottom:-30px !important;
            line-height:0px
            
        }
        .image-overlay h2 {
            font-size: 22px;
/*            line-height:10px*/
        }
        .w-100 {
            width:100%;
        }
        .products-title:after {
            
        }
        
}
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 960px) 
    and (orientation: portrait) {
        .products_content {
            margin-top:50% !important;
            position:relative;
        }
        .menumid {
            display:none;
        }
        .logo {
            display:none;
        }
        .products-title {
            display:block;
            position: relative !important;
            z-index:100;
            margin-top:15vh;
            font-size:20px !Important;
        }
        
}
@media only screen 
and (min-device-width : 600px) 
and (max-device-width : 960px) 
    and (orientation: landscape) {
        .products_content {
            margin-top:100vh !important;
            position:relative;
        }
        .main-nav-list {
            display:none !important;
        }
        .featured-heading {
            margin-left:0px;
        }
        .logo {
            display: none;
        }
        .featured-heading {
            
        }
        .featured {
            width:100% !important;
        }
        .menumid {
            display:none;
        }
        .image-overlay p {
            font-size:16px;
        }
        .image-overlay h1 {
            font-size:35px;
            line-height:5px;
        }
        .image-overlay h2 {
            font-size:30px;
        }
        .products-title {
            font-size:30px !Important;
            white-space:normal !important;
            line-height:5vh;
        }
}

@media (max-width: 1920px) {
    .products-title {
        white-space: normal !Important;
    }
    .products_content {
        margin-top:30vh;
    }
    .main-nav-list {
        left:-0.5vw;
    }
}