@media (max-width:320px) {
}
@media (max-width:414px) {
}
@media (max-width:1366px) {
}
@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 732px) 
    and (orientation: landscape) {
        
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 732px) 
    and (orientation: portrait) {
        .main-nav-list {
            display:none;
        }
        .sticky-placeholder {
            display:none;
        }
        .products img {
            display:inline-block;
            width:20%;
            margin:auto;
        }
        .products_summary {
            font-size: 16px;
            position:relative;
            display:block;
        }
        .products {
            position:relative;
/*            margin-top:10vh;*/
        }
        .products-title {
            font-size: 16px !important;
            margin:auto;
            white-space:normal !important;
            line-height:3vh;
            padding-bottom:3vh;
        }
        .products_content {
            margin-top:10vh;
        }
        .featured {
            width:100% !important;
        }
        .image-overlay {
            font-size: 1rem
        }
        
}